



<% if current_user%>
  <h3> Welcome, <%= current_user.username%></h3>
  <div class="digg_pagination">
    <%= will_paginate @images, :container => false %>
  </div>


  <div class="dropdown">
    Filter By:
    <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Most Recent
    </button><br><br>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="?order=recent">Most Recent</a>
      <a class="dropdown-item" href="?order=oldest">Oldest</a>
      <a class="dropdown-item" href="?order=most_liked">Most Liked</a>
    </div>
  </div>

  <% @images.each do |image|%>
  <div class='card bg-light mb-3'>
    <div class='card-body'>
      <p>Posted by: <%= image.user.username %></p>
      <%= link_to image_tag(image.photo.url(:thumb)), image_path(image) %>
    <br>
    <br>
    <%= image.likers_count %>
    <%= image.description %>
    <% image.tags.each do |tag| %>
      <div class='tag'>
        @<%= tag.user.username %>
      </div>
    <% end %>
    <%=  link_to('Like', like_image_path(image), :class => "btn btn-info", method: :post) %>
    </div>
  </div>
  <div class="digg_pagination">
    <%= will_paginate @images, :container => false %>
  </div>
  <%end%>
  <% else %>
  <h1>Welcome to PhotoHut</h1>
  <h3>Please login to view photos</h3>
<%end%>
