
<br>


<% if current_user%>
  <h3> Welcome, <%= current_user.username%></h3>
  <% @images.each do |image|%>
  <div class='card bg-light mb-3'>
    <div class='card-body'>
      <%= link_to image_tag(image.photo.url(:thumb)), image_path(image) %>
    <br>
    <br>
    <%= image.likers_count %>
    <%= image.description %>
    <% image.tags.each do |tag| %>
      <div class='tag'>
        @<%= tag.user.username %>
      </div>
    <% end %>
    <%=  link_to('Like', like_image_path(image), :class => "btn btn-info", method: :post) %>
    </div>
  </div>
  <%end%>
  <% else %>
  <h1>Welcome to PhotoHut</h1>
  <h3>Please login to view photos</h3>
<%end%>
