
<br>


<% if current_user%>
  <h3> Welcome, <%= current_user.username%></h3>
  <% @images.each do |image|%>
  <div class='card bg-light mb-3'>
    <div class='card-body'>
      <%= link_to image_tag(image.photo.url(:thumb)), image_path(image) %>
    <br>
    <br>

    <%= image.description %>
    <% image.tags.each do |tag| %>
      <div class='tag'>
        @<%= User.find(tag.user_id).username %>
      </div>
    <% end %>
    <%= link_to "Edit Image", edit_image_path(image) %>
    <%= link_to "Tag", new_image_tag_path(image) %>
    <%= link_to "Delete", image_path(image), :class => "btn btn-danger",
                           :data => {:confirm => "You sure?",
                                     :method => "delete"} %>
    </div>
  </div>
  <%end%>
  <% else %>
  <h1>Welcome to PhotoHut</h1>
  <h3>Please login to view photos</h3>
<%end%>
