<!DOCTYPE html>
<html>
  <head>
    <title>PhotoHut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <% if current_user %>
        <a class="navbar-brand round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></a>
      <% end %>
      <a class="navbar-brand"><%= link_to 'Home', '/' %></a>


      <% if current_user %>
        <a class="navbar-brand"><%= link_to 'Add New Photo', new_image_path %></a>
        <a class="navbar-brand"><%= link_to 'Tagged Photos', tags_path %></a>
        <a class="navbar-brand"><%= link_to 'My Pics', profile_path %></a>
        <a class="navbar-brand"><%= link_to 'Edit Profile',edit_user_registration_path %></a>
        <a class="navbar-brand  ml-auto"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
      <% else %>
        <a class="navbar-brand ml-auto"><%= link_to 'Login', new_user_session_path %></a>

      <% end %>
      <%= form_tag(images_path, :method => "get", :class => "form-inline mr-3") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
        <%= submit_tag "Search" %>
      <% end %>
    </nav>

    <div>
        <%= flash[:notice] %>
    </div>
    <div>
        <%= flash[:alert] %>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
